// import of the main config scss file
@import "./styles/config";
// imported libraries
@import "bootstrap";
// fronts
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");
// css classes
.init-container {
  height: $init-height;
  background-color: $light-color;
}
.init-height {
  height: $init-height;
}
